*{
    margin:0;
    padding:0;
}
@font-face {
    font-family: 'FontSGV';
    src: url("../fonts/bebasneue-webfont.woff") format('woff'),
         url("../fonts/bebasneue-webfont.woff") format('woff2');
    font-weight: normal;
    font-style: normal;

}
body{
    background-image: url("../img/darkBlue.png") ;
   /* background-color: black;*/
    background-repeat: no-repeat; 
    background-position:  center;
    background-attachment: fixed;
    background-size: cover;
    font-size: 16px;
    color: white;
}

                  /* ----  Overrride del Grid ----*/
div.col-lg-7 , div.col-md-7{
  padding-right: 0px ;
  padding-left: 0px ; 
}
section.row{
  /*border: 1px solid red;*/
  padding: 0px;
  margin:0px;
}
hr.hr_{
  margin:0;
}
 /* ----  FIN Overrride del Grid ----*/

.img-banner{
  width:100%;
  height: 100%;
}
section.container{
    width: 1100px;
    overflow:hidden;
    border:1px solid red;
    margin: 0 auto;
}
div.top{
    width: 100%;
    overflow: hidden;
   /* border:3px solid yellow;*/
    margin: 0 auto;
}
p.textWelcome{
    color :white;
    font-size: 3em;
}
p.titleSist{
    color: white;
    font-size:3.5em;
    text-align: center;
    font-family: 'FontSGV';
    margin: 30px 0 0 0;

}
a.cSesion{
    color:white;
    float:right;

}
h2.userName{
    color:black;
    text-transform: uppercase;
    background-color: white;
}

/* Estructure */

nav.menu{
   border:1px solid white;
    padding: 0;
}
.menu ul{
    list-style:none;
    border: 0px solid green;
    margin:0;
    padding: 0px 20px;
}
.menu ul li{
    margin:0;
}
.menu ul li a{
    text-decoration: none;
    /*background-color: red;*/
    font-family: 'Helvetica';
    display: block;
    border-bottom:1px dashed white;
    padding: 8px 0 8px 10px;
    color:white;
}
.menu ul li a.ultimo{
  border-bottom: none;
}
.menu ul li a:hover{
   background-color: black;    
}

.contenido{
    border:1px solid white; 
    margin: 0;
    padding:0;
    
}



/* Overides de media querys  tomará el style hasta que llegue a ese minimo */
@media only screen and (min-width : 480px) {
  body{
    background-color: red;
  }
  div.contenedor{
    /* width: 100% !important;*/
  }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
   body{
    background-color: yellow;
  }
  div.contenedor{
 
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
   body{
    background-color: blue;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
   body{
    background-color: peru;
  }
  div.contenedor{
    width: 1000px;
  }

}









